{% extends '@Example/base.html.twig' %}

{% block title %}Create book{% endblock %}

{% block body %}

    {{ breadcrumbAdd('Message', '/book') }}
    {{ breadcrumbAdd('Create', '/book/create') }}

    <h3>
        Create book
    </h3>

{% endblock %}