{% extends '@Example/base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}

    {{ breadcrumbAdd('Message', '/book') }}

    {% include '@Example/book/index.list.html.twig' %}

    <span class="pull-right">
        <a class="btn btn-success" href="{{ path('web_example_book_create') }}">Create</a>
    </span>

    <span>
        {{ pagination(dataProviderEntity, app.request) }} &nbsp;
    </span>

{% endblock %}