<div class="list-group">
    {% for book in dataProviderEntity.collection %}
        <a href="{{ path('web_example_book_view', {id: book.id}) }}" class="list-group-item">
            {{ book.title }}
            {#<span class="badge">{{ book.category.title }}</span>#}
        </a>
    {% endfor %}
</div>